[Unit]
Description=etcd service
Documentation=https://github.com/etcd-io/etcd

[Service]
User=etcd
Type=notify
ExecStart=/usr/local/bin/etcd \
 --name ${name} \
 --data-dir /var/lib/etcd \
 --initial-advertise-peer-urls http://${ip}:2380 \
 --listen-peer-urls http://${ip}:2380 \
 --listen-client-urls http://${ip}:2379,http://127.0.0.1:2379 \
 --advertise-client-urls http://${ip}:2379 \
 --initial-cluster-token etcd-cluster-1 \
 --initial-cluster etcd1=http://192.168.50.181:2380,etcd2=http://192.168.50.182:2380,etcd3=http://192.168.50.183:2380 \
 --initial-cluster-state new \
 --heartbeat-interval 1000 \
 --election-timeout 5000
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
